*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
/tmp
test/tmp
test/version_tmp
*.bundle
*.so
*.o
*.a
mkmf.log
spec/reports
spec/dummy/db/development.sqlite3
spec/dummy/db/test.sqlite3
spec/dummy/log/*
spec/dummy/tmp/*
!spec/dummy/tmp/cache
spec/dummy/tmp/cache/*
!spec/dummy/tmp/cache/.keep
Gemfile.lock
